#webcam{
    margin: 2em auto 0;
    width: 640px;
    //height: 480px;
    padding: 2em;
    background: white;
    box-shadow: 0 1px 10px #444444;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    z-index:1;
}

#screenshot-canvas {
    margin: 2em auto 0;
    width: 340px;
    height: 440px;
    padding: 2em;
    background: white;
    box-shadow: 0 1px 10px #444444;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}


#svgContainer{
    margin: 2em auto 0;
    width: 640px;
    height: 480px;
    padding: 2em;
    position:absolute;
    z-index:2;
}